/* место для вашего кода */
header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
}

.header__links-list {
  grid-column: 1;
  padding-left: 50px;
  display: flex;
  gap: 33px;
  font-size: 18px;
}

.header__links-list-item {
  list-style: circle;
  
}

.header__links-list-item_no-bullit {
  list-style: none;
  
}

.header__link_active {
  text-decoration: none;
}

.header__link {
  text-decoration: underline;
}

.header__logo {
  grid-column: 2;
  display: block;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  font-style: normal;
  font-size: 18px;
  display: block;
  line-height: 1.35em;
  text-underline-position: under;
  color: #000000;
  padding-right: 50px;
}

body {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}


.cover {
  display: flex;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  height: 757px;
  background-size: cover;
  background-position: center;
  position: relative;
  inset: 0;
  
}

.overlay {
  position: absolute;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  z-index: 1;
  inset: 0;
}

h1.cover__title {
  position: relative;
  padding: 165px 50px 106px 50px;
  line-height: 1.15;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  z-index: 2;
}

.aligned-text {
  color: #FFFFFF;
  z-index: 2;
  display: block;
  margin-bottom: 20px;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.cover__description {
  display: flex;
  align-items: flex-end;
  padding: 0px 50px 50px 50px;
  z-index: 1;
  align-items: center;
  gap: 80px;
}

.cover__description-text {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  padding: 12px 32px 11px 31px;
  background-color: transparent;
  border: 1px solid currentColor;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: inherit;
}

.lots {
  /* height: 723px; */
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 180px;
}

.lots__heading {
  font-weight: bold;
  font-size: 40px;
  padding-left: 40px;
  padding-bottom: 27px;
  color: #000000;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
  margin-bottom: 30px; 
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  inset: 0;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  padding: 48px 40px 0px 40px;
  position: relative;
  z-index: 1;
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration-line: underline;
  text-underline-position: under;
  line-height: 1.2em;
  font-size: 22px;
}

.card__text {
  color: #FFFFFF;
  padding: 0px 40px 48px 40px;
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0;
  font-weight: 400;
}

.lots__look-more-link {
  font-size: 20px;
  padding-left: 40px;
  text-decoration-line: underline;
  text-underline-position: under; 
}

.about {
  display: grid;
  grid-template-columns: 287px 1fr;
  gap: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
}

.about__column {
  padding: 35px 0px 0px 47px;
}

.about__logo {
  display: flex;
	justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
	background-color: #000000;
}

.about__logo-image {
  align-self: center;
  width: 148px;
  height: 114px;
  
}

.about__title {
  padding-top: 101px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
}

.about__text {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 20px;
  color: #000000;
  padding-top: 100px;
  gap: 24px;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 0px 50px;
  margin-bottom: 82px;
}

.footer__menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: #000000;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
  color: #000000;
}

ul {
  list-style: none;
}
