/* место для вашего кода */
header {
  background-color: aqua;
}

.cover {
  background-color: aquamarine;
}

.lots {
  background-color: blue;
}

.about {
  background-color: burlywood;
}

footer {
  background-color: darkorchid;
}

ul {
  list-style: none;
}
